<%- include('layout/head', {title: page.title}) %>
<div class="container">
  <article>
    <h1><%= page.title %></h1>
    <%- page.assignment_info %>
  </article>
  <h2>Отправка решения на проверку</h2>
  <form action="/student/commit" method="post">
    <input type="hidden" name="assignmentId" value="<%= page.assignment_id %>">
    <div class="alert alert-info" role="alert">
      <span>Как только составите решение, скопируйте его исходный код и нажмите "Отправить"</span>
    </div>
    <div class="form-group">
      <textarea class="text-monospace" name="source" cols="60" rows="10" wrap="soft"></textarea>
    </div>
    <button type="submit" class="btn btn-default btn-primary">Отправить</button>
  </form>
</div>
<%- include('layout/tail') %>
