<%- include('layout/head', {title: 'Задачи'}) %>
<div class="container">
  <%- include('layout/student_navbar') %>
  <h2>Список заданий</h2>
  <ol>
  <% for (let assignment of page.assignments) { %>
    <li><a href='/student/assignment?id=<%= assignment.id %>'><%= assignment.title %></a></li>
  <% } %>
  </ol>
</div>
<%- include('layout/tail') %>
