<%- include('../layout/head', {title: 'Список задач'}) %>
<div class="wrapper">
  <%- include('../layout/admin_navbar') %>
  <div id="content">
    <% const contest = page.content.contest%>
    <h2>Список задач:</h2>
    <ul class="list-group">
        <% for (let assignment of contest.assignments) { %>
        <li class="list-group-item ">
            <a href='#'><%= assignment.title %></a>
            <a class="btn btn-danger btn-sm p-1 ml-5 float-right" href="#" role="button">Удалить</a>
        </li>
        <% } %>
    </ul>
    <a class="btn btn-primary btn-sm mt-4" href="/admin/contest/<%= contest.id %>/assignment" role="button">Добавить задание</a>
  </div>
</div>
<%- include('../layout/tail') %>